<div>
    <div class="row text-center">
        <div class="col">
            <button class="btn" (click)="resetScore()">
                <i class="bi bi-arrow-clockwise refresh-icon"></i>
            </button>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            Home Team
                        </h3>
    
                        <p class="card-text score-text">
                            {{ homeScore }}
                        </p>
                        
                        <button type="button" class="btn btn-outline-danger btn-lg score-button" (click)="updateHomeTeam(-1)"
                            [disabled]="homeScore === 0">-1</button>
                        <button type="button" class="btn btn-outline-success btn-lg" (click)="updateHomeTeam(1)">+1</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            Away Team
                        </h3>
                        <p class="card-text score-text">
                            {{ awayScore }}
                        </p>
    
                        <button type="button" class="btn btn-outline-danger btn-lg" (click)="updateAwayTeam(-1)"
                            [disabled]="awayScore === 0">-1</button>
                        <button type="button" class="btn btn-outline-success btn-lg" (click)="updateAwayTeam(1)">+1</button>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
